---
layout:   default
index:     true
---


	<div id="intro">
    <h2>To enjory.</h2>
    <p>欢迎光临我的个人博客。</p>
    <p>我叫洪侠(1992-), 浙江台州人，北京邮电大学本科毕业，人工智能从业，具体的领域包括自然语言处理、深度学习等。目前在北京百分点技术公司从事智能文本服务相关的工作，包括企业智能支持、云智能等。</p>
	<p></p>
	<p></p>
	</div>
	
<article id="post-list" class="index">
	<div id="post-list-title">
		<h3>文章列表</h3>
		<div id="more-list"><a href="/archives">全部文章...</a></div>
	</div>
    <ul class="posts">{% for post in paginator.posts  %}
	<li><span>{{ post.date | date: "%m/%d/%Y" }}</span> &raquo; <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></li>{% endfor %}
    </ul>
   
   <nav id="pagination">
	<div class="paginator-list">{% if paginator.previous_page %}{% if paginator.page == 2 %}
		<a href="/" rel="prev" title="按左方向键←或J键进入前一页"> << 前一页</a>{% else %}<a href="/page{{ paginator.previous_page }}" rel="prev" class="prev" title="按左方向键←或J键进入前一页"> << 前一页</a>
   {% endif %}{% endif %}{% if paginator.next_page %}<a href="/page{{ paginator.next_page }}" rel="next" class="next" title="按右方向键→或K键进入后一页">后一页 >></a>{% endif %}
	</div>
   </nav>   
</article>

<script type="text/javascript">
$(function(){
  $(document).keydown(function(e) {
    var url = false;
        if (e.which == 37 || e.which == 74) { // Left arrow and J
        {% if paginator.previous_page %}
        url = {% if paginator.page == 2 %}"/"{% else %}"/page{{ paginator.previous_page }}"{% endif %};
        {% endif %}
        }
        else if (e.which == 39 || e.which == 75) { // Right arrow and K
          {% if paginator.next_page %}
        url = "/page{{ paginator.next_page }}";
        {% endif %}
        }
        if (url) {
            window.location = url;
        }
  });
})
</script>
